@import '../../../vars.scss';

.menu {
    &__ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;    
        }
    }

    & a {
        display: block;
        margin-left: 60px;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            display: none;
        }

        &:hover {
            color: $text-color-hover;
            border-bottom: 1px dashed $text-color-hover;
        }
    }

    &__burger {
        display: none;
        position: relative;
        padding: 0;
        width: 30px;
        height: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @media screen and (max-width: 991px) {
            display: block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background-color: $text-color;
        }
        
        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &:hover {
            &::before,
            &::after {
                background-color: $text-color-hover;
            }
        }
    }
}