.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;

    &__rocket {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    &__text {
        font-size: 32px;
        font-weight: 700;
        margin-right: 20px;
    }
}